html,
body{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;

  min-width: 1200px;
}

a{
  text-decoration: none;
  color: #000000;
}

.site-navigation li,
.user-navigation li,
.product-item,
.work-item,
.portfolio-item,
.social-list li,
.sort-list li,
.sort-order-list li,
.catalog-list,
.pagination-list li{
  list-style: none;
}

button,
input,
optgroup,
select,
textarea{
  font: inherit;
  color: inherit;
}

html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation,
.user-navigation{
  text-transform: uppercase;
}

.site-navigation-item,
.user-navigation-item{
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -ms-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.main-header,
.top-part-main{
  background-color: #eee;
}

.title-big{
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-product-types{
  font-size: 24px;
  margin: 0px;
  line-height: 1.25;
  text-transform: uppercase;
}

.tittle-about-studio,
.title-letter{
  font-size: 45px;
  line-height: 1;
}

.title-bold{
  font-weight: 700;
  text-transform: uppercase;
}

.title-middle{
  font-size: 36px;
}

.title-mini,
.title-catalog-item{
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
}

.title-letter-item{
  font-weight: 700;

}

.print-rows{
  font-size: 45px;
  font-weight: 700;
}

.print-mini{
  font-size: 16px;
  line-height: 1.13;
}

.navigation-logo:hover,
.navigation-logo:focus{
  opacity: 0.8;
}

.navigation-logo:active{
  opacity: 0.3;
}

.site-navigation-item:hover,
.site-navigation-item:focus,
.user-navigation-item:hover,
.user-navigation-item:focus{
  color: #fb565a;
}

.site-navigation-item:active,
.user-navigation-item:active{
  color: rgba(0, 0, 0, 0.3);
}

.navigation-current a{
  border-bottom: 1px solid #d7373b;
}

.button{
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding: 16px 40px;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;


  -webkit-transition: background-color .2s ease-out .2s;
  -moz-transition: background-color .2s ease-out .2s;
  -ms-transition: background-color .2s ease-out .2s;
  -o-transition: background-color .2s ease-out .2s;
  transition: background-color .2s ease-out .2s;
}

.button-green{
  background-color: #00ca74;
}

.button-yellow{
  background-color: #efc84a;
}

.button:hover,
.button:focus {
  background-color: #e74246;
  outline: none;
}
.button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
  outline: none;
}

.button-green:active{
  background-color: #00aa62;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab533;
  outline: none;
}

.button-yellow:active{
  background-color: #e5a722;
}

.button-grey,
.pagination-item a{
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}

.button-grey:hover,
.button-grey:focus,
.pagination-item a:hover,
.pagination-item a:focus{
  color: #000000;
  background-color: #dfdfdf;
  outline: none;
}

.button-grey:active,
.pagination-item a:active{
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0px -2px 0px 0px #bfbfbf;
}
.sort-list{
  font-size: 14px;

  text-transform: uppercase;
}

.sort-item{
  color: #ededed;
}

.sort-item:hover,
.sort-item:focus{
  color: #a6a6a6;
  outline: none;
}

.sort-item:active{
  color: #000000;
}

.sort-current a{
  color: #000000;
}

.product-type-price{
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom:43px;

  background-color: #fb565a;
  border-radius: 3px;
}

.pagination-item-current a{
  border: 1px solid #dfdfdf;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
}

.letter input[type=text],
.letter input[type=email],
.letter textarea{
  font-weight: 400;
  line-height: 1.13;
  color: #d7dcde;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  background-color: white;
  -webkit-transition: all .2s ease-out .2s;
  -moz-transition: all .2s ease-out .2s;
  -ms-transition: all .2s ease-out .2s;
  -o-transition: all .2s ease-out .2s;
  transition: all .2s ease-out .2s;
}

.letter textarea{
  resize: none;
}

.letter input:hover,
.letter textarea:hover{
  color: #b4b9b6;
  border: 2px solid #b4b9b6;
}

.letter input:focus,
.letter textarea:focus{
  color: #000000;
  border: 2px solid #000000;
  outline: none;
}

.title-letter-item-invalid{
  color: #e74246;
  font-weight: 700;
}

.letter-item-invalid input[type="text"]{
  border: 2px solid #e74246;
}

.letter input[type="text"]::-webkit-input-placeholder,
.letter input[type="email"]::-webkit-input-placeholder,
.letter textarea::-webkit-input-placeholder{
  color: #d7dcde;
}
.letter input[type="text"]::-moz-placeholder,
.letter input[type="email"]::-moz-placeholder,
.letter textarea::-moz-placeholder{
  opacity: 1;
  color: #d7dcde;
}

.letter input[type="text"]:hover::-webkit-input-placeholder,
.letter input[type="email"]:hover::-webkit-input-placeholder,
.letter textarea:hover::-webkit-input-placeholder{
  color: #b4b9b6;
}
.letter input[type="text"]:hover::-moz-placeholder,
.letter input[type="email"]:hover::-moz-placeholder,
.letter textarea:hover::-moz-placeholder{
  opacity: 1;
  color: #b4b9b6;
}

.letter input[type="text"]:focus::-webkit-input-placeholder,
.letter input[type="email"]:focus::-webkit-input-placeholder,
.letter textarea:focus::-webkit-input-placeholder{
  color: #000000;
}
.letter input[type="text"]:focus::-moz-placeholder,
.letter input[type="email"]:focus::-moz-placeholder,
.letter textarea:focus::-moz-placeholder{
  opacity: 1;
  color: #000000;
}

.letter-item-invalid input[type="text"]::-webkit-input-placeholder,
.letter-item-invalid input[type="email"]::-webkit-input-placeholder,
.letter-item-invalid textarea::-webkit-input-placeholder{
  color: #e74246;
}
.letter-item-invalid input[type="text"]::-moz-placeholder,
.letter-item-invalid input[type="email"]::-moz-placeholder,
.letter-item-invalid textarea::-moz-placeholder{
  opacity: 1;
  color: #e74246;
}

.catalog-item-img:hover{
  background-color: #4d4d4d;
}
.catalog-item-hover{
  text-align: center;
  background-color: #e9e9e9;
}

.grid-item,
.features-item{
  color: #283136;
}

.grid-item:hover,
.features-item:hover,
.grid-item:focus,
.features-item:focus{
  color: #000;
}

.filter .grid-item-disabled{
  color: rgba(40, 49, 54, 0.3);
}

.filter input[type="radio"]:disabled,
.filter input[type="checkbox"]:disabled{
  color: rgba(40, 49, 54, 0.3);
}

/*---------------------Сетка--------------------------*/

.container{
  width: 1160px;
  margin: 0px auto;
  padding: 0px;

  /*outline: 1px solid blue;*/
}

.header-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;

  outline: 3px solid yellow;
}

.main-navigation{
  display: flex;
  flex-direction: row;
  width: 960px;

  outline: 1px solid red;
}

.site-navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 760px;
  margin-left: 40px;
  padding-left: 0px;

  outline: 1px solid green;
}

.site-navigation-item{
  display: block;
  padding: 11px 23px;

  outline: 2px solid red;
}

.user-navigation{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  max-width: 160px;
  padding-top: 11px;

  outline: 1px solid grey;
}

.user-navigation-item{
  position: relative;
  display: block;
  padding-left: 25px;
}

.user-navigation-item::before{
  content: "";
  position: absolute;
  right: 100px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3
}

.top-part-main{
  margin-bottom:80px;

  height: 418px; /*временно*/
  outline: 1px solid red;
}

.slide-nomber:nth-child(2),
.slide-nomber:nth-child(3){
	display: none;
}

.product-list{
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  margin-bottom: 70px;
  padding-left: 0px;
  padding-top: 0px;

  outline: 1px solid green;
}

.product-item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin-top: 0px;
  margin-right: 100px;
  padding-top: 172px;

  outline: 1px solid grey;
}

.button-product-item{
  align-self: flex-start;
  padding: 12px 40px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.product-item:nth-child(3n){
  margin-right: 0px;
}

.product-item:nth-child(1){
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
}

.product-item:nth-child(2){
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
}

.product-item:nth-child(3){
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat;
}

.about-studio{
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  padding-top: 40px;
  padding-bottom: 0px;
  border-top: 2px solid #eee;

  outline: 1px solid blue;
}

.about-studio-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 700px;
  padding-top: 36px;

  outline: 1px solid red;
}

.about-studio-text p{
  margin: 0px;
}

.tittle-about-studio{
  margin-bottom: 34px;
}

.about-studio-text .title-bold{
  margin-top: 36px;
}

.work-list{
  padding-left: 35px;
  margin: 0px;
}

.work-item{
  margin-top: 25px;
  /*нарисовать дефис*/
}

.statistics{
  align-self: flex-start;
  width: 360px;
  padding-top: 245px;
  padding-left: 0px;
  text-align: center;

  background-image: url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;

  outline: 1px solid yellow;
}

.decoratin-persent{
  font-size: 0.5em;
  vertical-align: 0.7em;
}

.statistics-table{
  margin-top: 27px;
  text-align: left;
  outline: 1px solid green;
}

.col{
  width: 120px;
  padding-top: 2px;
}

.portfolio-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0px;
  margin-bottom: 80px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;


  /*outline: 1px solid red;*/
}

.portfolio-item{
  position: relative;
  display: block;
  width: 260px;
  height: 180px;*

  outline: 1px solid green;
}

.portfolio-list:first-child{
	margin-left: 0px;
}
.portfolio-list:nth-child(4n){
	margin-right: 0px;
}

.portfolio-html::before{
  content: "";
  position: absolute;

  width: 260px;
  height: 180px;

  background-image: url("../img/logo-1.png");
  background-repeat: no-repeat;
  opacity: 0.2;

  -webkit-transition: opacity 0.5s ease-out 0.1s;
  -moz-transition: opacity 0.2s ease-out 0.1s;
  -ms-transition: opacity 0.2s ease-out 0.1s;
  -o-transition: opacity 0.2s ease-out 0.1s;
  transition: opacity 0.2s ease-out 0.1s;
}

.portfolio-barbershop::before{
  content: "";
  position: absolute;

  width: 260px;
  height: 180px;

  background-image: url("../img/logo-2.png");
  background-repeat: no-repeat;
  opacity: 0.2;

  -webkit-transition: opacity 0.5s ease-out 0.1s;
  -moz-transition: opacity 0.2s ease-out 0.1s;
  -ms-transition: opacity 0.2s ease-out 0.1s;
  -o-transition: opacity 0.2s ease-out 0.1s;
  transition: opacity 0.2s ease-out 0.1s;
}

.portfolio-pink::before{
  content: "";
  position: absolute;

  width: 260px;
  height: 180px;

  background-image: url("../img/logo-3.png");
  background-repeat: no-repeat;
  opacity: 0.2;

  -webkit-transition: opacity 0.5s ease-out 0.1s;
  -moz-transition: opacity 0.2s ease-out 0.1s;
  -ms-transition: opacity 0.2s ease-out 0.1s;
  -o-transition: opacity 0.2s ease-out 0.1s;
  transition: opacity 0.2s ease-out 0.1s;
}

.portfolio-mishka::before{
  content: "";
  position: absolute;

  width: 260px;
  height: 180px;

  background-image: url("../img/logo-4.png");
  background-repeat: no-repeat;
  opacity: 0.2;

  -webkit-transition: opacity 0.2s ease-out 0.1s;
  -moz-transition: opacity 0.2s ease-out 0.1s;
  -ms-transition: opacity 0.2s ease-out 0.1s;
  -o-transition: opacity 0.2s ease-out 0.1s;
  transition: opacity 0.2s ease-out 0.1s;
}

.portfolio-item:hover::before,
.portfolio-item:focus::before{
  opacity: 1;
}

.portfolio-item:active::before{
  opacity: 0.1;
}

.map{
  display: block;
  position: relative;
  overflow: hidden;
  z-index:0;
  padding-top: 54px;
  padding-bottom: 54px;
  margin-bottom: 69px;
}

.map-img{
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.contacts-list{
  display: block;
  width: 319px;
  padding-top: 48px;
  padding-bottom: 47px;
  padding-left: 50px;
  background-color: #ffffff;

  outline-color: red;
}

.letter-button{
  margin-top: 17px;
  padding: 14px 45px;
}

.contacts-list .print-mini{
  margin: 18px 0px;
}

.footer-social{
  display: flex;
  justify-content:space-between;
  /*padding-bottom: 70px;*/
  margin-bottom: 70px;

  outline: 1px solid red;
}

.social-list{
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 260px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-right: 40px;

  outline: 1px solid green;
}

.social-button{
  display: block;
  position: relative;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;

  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -moz-transition: all 0.2s ease-in-out 0.1s;
  -ms-transition: all 0.2s ease-in-out 0.1s;
  -o-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;

  outline: 2px solid red;
}

.social-list:nth-child(3n){
  margin-right: 0px;
}

.button-vk,
.button-facebook{
  margin-right: 13px;
}

.button-vk::before{
  position: absolute;
  content: "";

  width: 78px;
  height: 78px;
  top: 32px;
  left: 27px;
  background-image: url("../img/social-vk-icon.svg");
  background-repeat: no-repeat;
}

.button-facebook::before{
  position: absolute;
  content: "";

  width: 78px;
  height: 78px;
  top: 29px;
  left: 34px;
  background-image: url("../img/social-fb-icon.svg");
  background-repeat: no-repeat;
}

.button-instagram::before{
  position: absolute;
  content: "";

  width: 78px;
  height: 78px;
  top: 28px;
  left: 28px;
  background-image: url("../img/social-insta-icon.svg");
  background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus,
.social-button:active{
  background-color: #e74246;
}

.social-button:active::before{
  opacity: 0.3;
}

.footer-autlet{
  width: 760px;
  margin: 0px;
}

.modal-window{
  display: none;
}

.title-autlet{
  display: block;
}

.catalog-header{
  display: block;
  text-align: center;
  padding-top: 57px;
  padding-bottom: 95px;
  background-color: #eeeeee;
  margin-bottom: 55px;
}

.catalog-block{
  display: flex;
  justify-content: space-between;
}

.filter{
  display: flex;
  flex-direction: column;
  width: 260px;
}

.main-catalog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 760px;
}

.filter-part{
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  outline: 1px solid green;
}

.sort{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px;

  outline: 1px solid green;
}

.sort-list{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 33px;
  padding-top: 3px;
  outline: 1px solid red;
}

.sort-order-list{
  margin-top: 0px;
  outline: 1px solid blue;
}

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 760px;
  padding-left: 0px;
  padding-bottom: 0px;

  outline: 1px solid yellow;
}

.catalog-item-img{
  width: 360px;
  height: 576px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.catalog-item{
  position: relative;
  width: 360px;
  padding-top: 40px;
  margin-right: 40px;
  margin-bottom: 34px;
  background-color: red;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	/*border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;*/
}

.catalog-item-hover{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  /*height: 231px;*/
  left: 0;
  right: 0;
  bottom: 0;
}

.catalog-item:hover .catalog-item-hover{
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s linear 0.1s;
  -moz-transition: opacity 0.2s linear 0.1s;
  -ms-transition: opacity 0.2s linear 0.1s;
  -o-transition: opacity 0.2s linear 0.1s;
  transition: opacity 0.2s linear 0.1s;
}

.catalog-item:nth-child(2n){
  margin-right: 0px;
}

.pagination-list{
  display: flex;
  padding-left: 0px;
  margin-bottom: 60px;
}

.pagination-item,
.pagination-item-current{
  margin-right: 12px;
}
