body{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color: #000000;
}

.site-navigation li,
.user-navigation li,
.product-item,
.work-item,
.portfolio-item,
.social-list li,
.sort-list li,
.sort-order-list li,
.catalog-list,
.pagination-list li{
  list-style: none;
}

.button,
.input,
.optgroup,
.select,
.textarea{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
}

.site-navigation,
.user-navigation{
  text-transform: uppercase;
}

.main-header,
.slider{
  background-color: #eee;
}

.title-big{
  font-size: 55px;
}

.title-product-types{
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.tittle-about-studio,
.title-letter{
  font-size: 45px;
}

.title-bold{
  font-weight: 700;
  text-transform: uppercase;
}

.title-middle{
  font-size: 36px;
}

.title-mini,
.title-catalog-item{
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
}

.title-letter-item{
  font-weight: 700;

}

.print-rows{
  font-size: 45px;
  font-weight: 700;
}

.print-mini{
  font-size: 16px;
  line-height: 1.13;
}

.navigation-logo:hover,
.navigation-logo:focus{
  opacity: 0.8;
}

.navigation-logo:active{
  opacity: 0.3;
}

.site-navigation-item:hover,
.site-navigation-item:focus,
.user-navigation-item:hover,
.user-navigation-item:focus{
  color: #fb565a;
}

.site-navigation-item:active,
.user-navigation-item:active{
  color: rgba(0, 0, 0, 0.3);
}

.navigation-current a{
  border-bottom: 1px solid #d7373b;
}

.button{
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-green{
  background-color: #00ca74;
}

.button-yellow{
  background-color: #efc84a;
}

.button:hover,
.button:focus {
  background-color: #e74246;
  outline: none;
}
.button:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
  outline: none;
}

.button-green:active{
  background-color: #00aa62;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab533;
  outline: none;
}

.button-yellow:active{
  background-color: #e5a722;
}

.button-grey,
.pagination-item a{
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}

.button-grey:hover,
.button-grey:focus,
.pagination-item a:hover,
.pagination-item a:focus{
  color: #000000;
  background-color: #dfdfdf;
  outline: none;
}

.button-grey:active,
.pagination-item a:active{
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0px -2px 0px 0px #bfbfbf;
}
.sort-list{
  font-size: 14px;

  text-transform: uppercase;
}

.sort-item{
  color: #ededed;
}

.sort-item:hover,
.sort-item:focus{
  color: #a6a6a6;
  outline: none;
}

.sort-item:active{
  color: #000000;
}

.sort-current a{
  color: #000000;
}

.catalog-header{
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
}

.product-type-price{
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
}

.pagination-item-current a{
  border: 1px solid #dfdfdf;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
}

.letter input[type=text],
.letter input[type=email],
.letter textarea{
  line-height: 1.13;
  color: #d7dcde;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  background-color: white;
}

.letter input:hover,
.letter textarea:hover{
  color: #b4b9b6;
  border: 2px solid #b4b9b6;
}

.letter input:focus,
.letter textarea:focus{
  color: #000000;
  border: 2px solid #000000;
  outline: none;
}

/*.letter input[type=text]:focus:invalid,
.letter input[type=email]:focus:invalid,
.letter textarea:focus:invalid{
  line-height: 1.13;
  color: red;
  border: 2px solid red;
  border-radius: 3px;
  background-color: white;
}*/

.title-letter-item-invalid{
  color: #e74246;
  font-weight: 700;
}

.letter-item-invalid input[type="text"]{
  border: 2px solid #e74246;
}

.letter input[type="text"]::-webkit-input-placeholder,
.letter input[type="email"]::-webkit-input-placeholder,
.letter textarea::-webkit-input-placeholder{
  color: #d7dcde;
}
.letter input[type="text"]::-moz-placeholder,
.letter input[type="email"]::-moz-placeholder,
.letter textarea::-moz-placeholder{
   color: #d7dcde;
}

.letter input[type="text"]:hover::-webkit-input-placeholder,
.letter input[type="email"]:hover::-webkit-input-placeholder,
.letter textarea:hover::-webkit-input-placeholder{
  color: #b4b9b6;
}
.letter input[type="text"]:hover::-moz-placeholder,
.letter input[type="email"]:hover::-moz-placeholder,
.letter textarea:hover::-moz-placeholder{
   color: #b4b9b6;
}

.letter input[type="text"]:focus::-webkit-input-placeholder,
.letter input[type="email"]:focus::-webkit-input-placeholder,
.letter textarea:focus::-webkit-input-placeholder{
  color: #000000;
}
.letter input[type="text"]:focus::-moz-placeholder,
.letter input[type="email"]:focus::-moz-placeholder,
.letter textarea:focus::-moz-placeholder{
   color: #000000;
}

.letter-item-invalid input[type="text"]::-webkit-input-placeholder,
.letter-item-invalid input[type="email"]::-webkit-input-placeholder,
.letter-item-invalid textarea::-webkit-input-placeholder{
  color: red;
}
.letter-item-invalid input[type="text"]::-moz-placeholder,
.letter-item-invalid input[type="email"]::-moz-placeholder,
.letter-item-invalid textarea::-moz-placeholder{
  color: red;
}

/*.letter input[type="text"]:focus:invalid::-webkit-input-placeholder,
.letter input[type="email"]:focus:invalid::-webkit-input-placeholder,
.letter textarea:focus:invalid::-webkit-input-placeholder{
  color: red;
}
 .letter input[type="text"]:focus:invalid::-moz-placeholder,
 .letter input[type="email"]:focus:invalid::-moz-placeholder,
 .letter textarea:focus:invalid::-moz-placeholder{
   color: red;
}*/

.map-img{
  background-color: #eee;
}
.catalog-item-img{
  background-color: #e9e9e9;
}
.catalog-item-img:hover{
  background-color: #4d4d4d;
}
.catalog-item-hover{
  text-align: center;
  background-color: #e9e9e9;
}

.grid-item,
.features-item{
  color: #283136;
}

.grid-item:hover,
.features-item:hover,
.grid-item:focus,
.features-item:focus{
  color: #000;
}

.filter .grid-item-disabled{
  color: rgba(40, 49, 54, 0.3);
}

.filter input[type="radio"]:disabled,
.filter input[type="checkbox"]:disabled{
  color: rgba(40, 49, 54, 0.3);
}
